@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    background-color:  #050729;
    background-image: url(./img/Background.png);
    color: white;
    display: flex;
    justify-content: space-between;
}
.header{
    background-image: url(./img/Sidebar.png);
    width: 35vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
margin-top: 40px;
}

.header__menu,
.support, 
.copyright{
    font-family: 'Oswald', 'sans-serif';
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 47px;
}

.header__item_color_violet {
    color: #A276FF;
}
.header__item_color_alt {
    color: yellow;
}

.copyright{
    margin-bottom: 40px;
    opacity: 0.3;
}

a {
    color: white;
}


.rectangle{
    background-image: url(./img/Rectangle\ 47.png);
    width: 232px;
    height: 73px;
    position: absolute;
    right: 309px;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rectangle__alt {
    background-image: url(./img/Rectangle\ 47el.png);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 50px;
}


.main_text__info {
    font-family: 'Roboto', 'sans-serif';
    color: white;
    font-size: 17px;
    line-height: 19.92px;
    font-weight: 400;
margin: 0,  auto;
}


.main_text__title_1,
.main_text__title_2
 {
font-weight: 700;
margin-top: 0px;
margin-bottom: 0px;
display: flex;
flex-direction: column;
align-items: flex-start;
}

.main_text__title_1 {
    color: white;
    font-size: 56px;
    line-height: 104px;
}

.main_text__title_2{
    font-size: 120px; 
    line-height: 117px;
}

.text__title_color_white {
    font-family: 'Oswald', 'sans-serif';

}

.text__title_color_violet {
    color: #A276FF;
    font-family: 'Oswald', 'sans-serif';
}



.text__title_color_alt_1 {
    margin: 0;
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 56px;
    line-height: 104px;
}
.text__title_color_alt_2 {
    color: yellow;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 120px; 
    line-height: 117px;
}


.main_text__info {
    font-family: 'Roboto', 'sans-serif';
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 29px;
    line-height: 45px;

}
.main_text__button {
    background: transparent;
    border-radius: 10px;
    color: white;
    height: 83px;
    width: 325px;
    font-size: 20px;
    margin-bottom: 20px;

}
.main_text__button_white{
    border: solid white; 
}
.main_text__button_alt {
    border: solid yellow; 
}


.images {
display: flex;
justify-content: space-between;
}


.news {
display: flex;
flex-direction: column;
margin-bottom: 30px;

}
.news__link {

    font-size: 42px;
    font-weight: 600;
}
.news__link_color_violet{
    font-family: 'Oswald', 'sans-serif';
}
.news__link_color_alt {
    font-family: 'Montserrat', 'sans-serif';

}


.articles {
    display: flex;
    border-radius: 3px solid white;
    background-color: white;
    margin-top: 120px;
    margin-left: 50px;
    width: 100vh;
    height: 100vh;
    border-radius: 20px 10px 5px 0; 

}


.article__text_all {
font-family: 'Oswald', 'sans-serif';
color: black;
font-size: 27;
line-height: 45px;
}

.article_foto {
    width: 300px;
    height: auto;
}